@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Heebo:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

:root {
  /* Primary */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --gradiend-primary-bg: linear-gradient(
    90deg,
    rgba(49, 211, 92, 0.7) 0%,
    rgba(43, 183, 218, 0.7) 100%
  );

  /* Neutral */
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--very-light-gray);
  position: relative;
  overflow-x: hidden;
}

.attribution {
  font-size: 11px;
  padding: 10px 0px;
  text-align: center;
  background-color: var(--dark-blue);
  color: var(--white);
}
.attribution a {
  color: #3e52a3;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 2%;
}

.header {
  padding: 0px 2%;
  z-index: 999;
  background-color: var(--white);
  position: fixed;
  width: 100%;
}
.active {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.header nav {
  display: flex;
  gap: 28px;
}

.header nav a {
  text-decoration: none;
  color: var(--grayish-blue);
  font-weight: 500;
  transition: all ease-in-out 0.3s;

  line-height: 52px;

  border-bottom: none;
  position: relative;
  padding: 12px 0px;
}

.header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--gradiend-primary-bg);
  transform: scaleX(0);
  transform-origin: center;
  transition: all ease-in-out 0.3s;
}

.header nav a:hover,
.header nav a.active-link {
  color: var(--dark-blue);
}

.header nav a:hover::after,
.header nav a.active-link::after {
  transform: scaleX(1);
}

.menu-hamb {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 22px;
  cursor: pointer;
}

.menu-hamb div {
  margin: 4px 0px;
  width: 100%;
  height: 4px;
  background-color: var(--dark-blue);
  transition: all 0.3s ease;
  border-radius: 2px;
}

.menu-hamb.active div:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.menu-hamb.active div:nth-child(2) {
  opacity: 0;
}

.menu-hamb.active div:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.btn-invite button {
  padding: 12px 30px;
  border: none;
  border-radius: 28px;
  background: #ffffff;
  background: var(--gradiend-primary-bg);
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
}

.menu {
  white-space: nowrap;
  transition: 0.5s;
  z-index: 999;
  position: relative;
  transform: translateX(0);
}

.menu.active {
  transform: translateX(0);
}

.content-banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-right: 22px;
}

.content-banner h2 {
  font-size: 52px;
  font-weight: 400;
  color: var(--dark-blue);
}

.content-banner p {
  color: var(--grayish-blue);
  margin-bottom: 22px;
  font-weight: 500;
}

.banner {
  width: 100%;
  height: 100%;
  min-height: 622px;
  background-color: var(--very-light-gray);
  display: flex;
  align-items: center;
  z-index: -9;
  position: relative;
}

.content-hero {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images {
  width: 60%;
  min-height: 662px;
  height: 100%;
  position: relative;
}

.shapes {
  position: absolute;
  top: -20%;
  right: -60%;
  height: auto;
  max-height: 862px;
}

.shapes-mobile {
  width: 120%;
  display: none;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.mobiles {
  position: absolute;
  height: 100%;
  top: -4%;
  right: -38%;
  min-height: 842px;
}

/* About */
.about {
  position: relative;
  background-color: var(--light-grayish-blue);
  z-index: -99;
  padding: 92px 0px;
}

.content-about h2 {
  font-size: 38px;
  font-weight: 400;
  color: var(--dark-blue);
}

.content-about p {
  color: var(--grayish-blue);
  margin: 22px 0px;
  font-weight: 400;
  width: 52%;
}

.grid-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  width: 100%;
  margin-top: 52px;
}

.card-feature h4 {
  margin-top: 32px;
  font-weight: 400;
  font-size: 24px;
  color: var(--dark-blue);
}

.card-feature p {
  width: 100%;
}

/* Articles */
.articles {
  margin-top: 96px;
}

.content-articles {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.articles h2 {
  font-size: 38px;
  font-weight: 400;
  color: var(--dark-blue);
  margin-bottom: 42px;
}

.article {
  display: flex;
  flex-direction: column;
  width: 260px;
  overflow: hidden;
  gap: 12px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.article img {
  height: 200px;
}

.article div {
  padding: 10px 28px;
}

.article span {
  font-size: 12px;
  color: var(--grayish-blue);
  font-weight: 300;
}

.article h4 {
  color: var(--dark-blue);
  font-size: 18px;
  font-weight: 400;
  margin: 12px auto;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.article h4:hover {
  color: var(--lime-green);
}

.article p {
  font-size: 14px;
  color: var(--grayish-blue);
  padding-bottom: 12px;
}

footer {
  background-color: var(--dark-blue);
  color: var(--white);
  margin-top: 80px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 40px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.social img {
  width: 160px;
}
.medias {
  display: flex;
  gap: 18px;
  flex-direction: row;
}

.medias img {
  margin-top: 32px;
  width: 22px;
  cursor: pointer;
  filter: brightness(0) invert(1);
}

.medias img:hover {
  filter: brightness(0) invert(1) hue-rotate(120deg);
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 30%;
  gap: 26px;
}

.links span {
  font-size: 14px;
  font-weight: 300;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.links span:hover {
  color: var(--lime-green);
}

.btn-invite-footer button {
  background-color: linear-gradient(
    90deg,
    rgba(49, 211, 92, 1) 0%,
    rgba(43, 183, 218, 1) 100%
  );
}

.copy-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: 12px;
}

.copy-right p {
  font-weight: 300;
  margin-top: 12px;
  color: var(--grayish-blue);
}

/* Medias */
@media screen and (max-width: 1124px) {
  .images {
    width: 60%;
    min-height: 662px;
    height: 100%;
    position: relative;
  }

  .shapes {
    position: absolute;
    top: -20%;
    right: -80%;
    height: auto;
    max-height: 862px;
  }

  .mobiles {
    position: absolute;
    height: 100%;
    top: -4%;
    right: -38%;
    min-height: 842px;
  }
}

@media screen and (max-width: 1024px) {
  .mobiles {
    height: 100%;
    top: -40%;
    right: 50%;
    transform: translate(50%, 20%);
    min-height: 742px;
  }

  .shapes {
    top: -20%;
    right: -33%;
    transform: translate(33%, 0%);
    height: auto;
    max-height: 842px;
  }

  .header-content {
    padding: 20px 2%;
  }

  .hero {
    display: none;
  }

  .banner {
    width: 100%;
    height: 100%;
    min-height: 822px;
    background-color: var(--very-light-gray);
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    z-index: -9;

    position: relative;
  }

  .content-banner {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 12px;
    margin-bottom: 80px;
  }

  .content-hero {
    width: 100%;
    max-width: 375px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
  }

  .content-banner h2 {
    font-size: 42px;
    text-align: center;
    font-weight: 400;
    color: var(--dark-blue);
  }

  .content-banner p {
    color: var(--grayish-blue);
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 14px;
  }

  .mobile-float {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: -20%;
    z-index: -9;
  }

  .mobile-float img {
    width: 400px;
  }

  .content-about {
    text-align: center;
    padding: 10px 20px;
  }

  .content-about p {
    width: 100%;
    text-align: center;
  }

  .grid-features {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .articles {
    text-align: center;
  }

  .content-articles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  .footer {
    flex-direction: column;
  }

  .links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 46px auto;
    gap: 1rem;
  }

  .copy-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}

@media screen and (max-width: 624px) {
  .header {
    padding: 8px 2%;
  }
  .menu-hamb {
    display: block;
  }
  .images {
    width: 100%;
    height: 100%;
    min-height: 362px;
    position: relative;
  }

  .shapes {
    width: 100%;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, 0%);
    height: auto;
    max-height: 842px;
  }

  .mobiles {
    position: absolute;
    width: 340px;
    height: auto;
    top: -86%;
    left: 50%;
    transform: translate(-50%, 54%);
    min-height: auto;
  }

  .menu {
    position: absolute;
    top: 120%;
    left: 50%;
    background-color: var(--light-grayish-blue);
    width: 90%;
    text-align: center;
    transform: translateX(-210%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
  }

  .menu.active {
    transform: translate(-50%, -0%) scaleX(1);
  }

  .grid-features {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

}

@media screen and (max-width: 375px) {
  .images {
    width: 100%;
    min-height: 362px;
    height: 100%;
    position: relative;
  }

  .shapes {
    display: none;
  }

  .mobiles {
    position: absolute;
    width: 340px;
    height: auto;
    top: -90%;
    left: 53%;
    transform: translate(-50%, 60%);
    min-height: auto;
  }

  .shapes-mobile {
    display: block;
  }

  .banner {
    width: 100%;
    height: 100%;
    min-height: 722px;
    background-color: var(--very-light-gray);
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    z-index: -9;

    position: relative;
  }

  .content-banner {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 80px;
  }

  .content-banner h2 {
    font-size: 42px;
    text-align: center;
    font-weight: 400;
    color: var(--dark-blue);
  }

  .content-banner p {
    color: var(--grayish-blue);
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 14px;
  }

  .grid-features {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .articles {
    text-align: center;
  }

  .content-articles {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
}
